# Create .env.dev and .env.prd files from this to be loaded in bin scripts and resolve CloudFormation Imports for local execution
# For general data use serverless.environment.yml and serverless.custom.yml files.
STAGE="dev"
API_KEY="" # fill only for
MONGODB_URI="mongodb+srv://..."
SQS_INGESTION_QUEUE_URL=""
SQS_DATA_EXPORT_QUEUE_URL=""
S3_DATA_EXPORT_BUCKET_NAME=""