# Create .env.dev and .env.prd files from this to store sensitive data only.
# For general data use serverless.environment.yml and serverless.custom.yml files.
MONGODB_DB_NAME=the_mongodb_db_name
MONGODB_URI=the_mongodb_uri