# Create .env.dev and .env.prd files from this to setup sensitive variables and resolve CloudFormation Imports for local execution
STAGE="dev"
API_KEY="" # fill only for production
MONGODB_URI="mongodb+srv://..."
SQS_INGESTION_QUEUE_URL=""
SQS_DATA_EXPORT_QUEUE_URL=""
S3_DATA_EXPORT_BUCKET_NAME=""

# fill only for testing
TEST_OMIE_APP_KEY=""
TEST_OMIE_APP_SECRET=""